AmorYPazBackend/AmorYPazBackend/Connected Services/servicioDirectorWS/DirectorWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.rrhh.softprog.pucp.edu.pe/" targetNamespace="http://services.rrhh.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarDirectoresTodas" type="tns:listarDirectoresTodas" />
  <xs:element name="listarDirectoresTodasResponse" type="tns:listarDirectoresTodasResponse" />
  <xs:complexType name="listarDirectoresTodas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarDirectoresTodasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:director" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="director">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="fechaNombramiento" type="xs:dateTime" />
          <xs:element minOccurs="0" name="tipoContrato" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="lengua" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="religion" type="xs:string" />
      <xs:element name="sexo" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>