Frontend/AmorYPazBackend/Connected Services/ServicioWS/CursoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="services.softprog.pucp.edu.pe" targetNamespace="services.softprog.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarCursoDePlan" type="tns:eliminarCursoDePlan" />
  <xs:element name="eliminarCursoDePlanResponse" type="tns:eliminarCursoDePlanResponse" />
  <xs:element name="insertarCurso" type="tns:insertarCurso" />
  <xs:element name="insertarCursoEnPlan" type="tns:insertarCursoEnPlan" />
  <xs:element name="insertarCursoEnPlanResponse" type="tns:insertarCursoEnPlanResponse" />
  <xs:element name="insertarCursoResponse" type="tns:insertarCursoResponse" />
  <xs:element name="listarCursosPorIdGrado" type="tns:listarCursosPorIdGrado" />
  <xs:element name="listarCursosPorIdGradoResponse" type="tns:listarCursosPorIdGradoResponse" />
  <xs:element name="listarCursosPorIdIE" type="tns:listarCursosPorIdIE" />
  <xs:element name="listarCursosPorIdIEResponse" type="tns:listarCursosPorIdIEResponse" />
  <xs:element name="listarPorIdNombreCursos" type="tns:listarPorIdNombreCursos" />
  <xs:element name="listarPorIdNombreCursosResponse" type="tns:listarPorIdNombreCursosResponse" />
  <xs:element name="listarPorIdPlan" type="tns:listarPorIdPlan" />
  <xs:element name="listarPorIdPlanResponse" type="tns:listarPorIdPlanResponse" />
  <xs:complexType name="insertarCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
      <xs:element name="idIE" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idCurso" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCursoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCursoEnPlan">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
      <xs:element name="idPlan" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCursoEnPlanResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCursoDePlan">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
      <xs:element name="idPlan" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCursoDePlanResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorIdNombreCursos">
    <xs:sequence>
      <xs:element minOccurs="0" name="idNombre" type="xs:string" />
      <xs:element name="idIE" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorIdNombreCursosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosPorIdGrado">
    <xs:sequence>
      <xs:element name="idGrado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosPorIdGradoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorIdPlan">
    <xs:sequence>
      <xs:element name="idPlan" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorIdPlanResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosPorIdIE">
    <xs:sequence>
      <xs:element name="idIE" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosPorIdIEResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>