Frontend/AmorYPazBackend/Connected Services/ServicioWS/CursoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="services.softprog.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CursoWS" targetNamespace="services.softprog.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWSBL/CursoWS?xsd=1" namespace="services.softprog.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="eliminarCursoDePlan">
    <part name="parameters" element="tns:eliminarCursoDePlan" />
  </message>
  <message name="eliminarCursoDePlanResponse">
    <part name="parameters" element="tns:eliminarCursoDePlanResponse" />
  </message>
  <message name="listarPorIdNombreCursos">
    <part name="parameters" element="tns:listarPorIdNombreCursos" />
  </message>
  <message name="listarPorIdNombreCursosResponse">
    <part name="parameters" element="tns:listarPorIdNombreCursosResponse" />
  </message>
  <message name="insertarCursoEnPlan">
    <part name="parameters" element="tns:insertarCursoEnPlan" />
  </message>
  <message name="insertarCursoEnPlanResponse">
    <part name="parameters" element="tns:insertarCursoEnPlanResponse" />
  </message>
  <message name="listarCursosPorIdIE">
    <part name="parameters" element="tns:listarCursosPorIdIE" />
  </message>
  <message name="listarCursosPorIdIEResponse">
    <part name="parameters" element="tns:listarCursosPorIdIEResponse" />
  </message>
  <message name="insertarCurso">
    <part name="parameters" element="tns:insertarCurso" />
  </message>
  <message name="insertarCursoResponse">
    <part name="parameters" element="tns:insertarCursoResponse" />
  </message>
  <message name="listarPorIdPlan">
    <part name="parameters" element="tns:listarPorIdPlan" />
  </message>
  <message name="listarPorIdPlanResponse">
    <part name="parameters" element="tns:listarPorIdPlanResponse" />
  </message>
  <portType name="CursoWS">
    <operation name="eliminarCursoDePlan">
      <input wsam:Action="services.softprog.pucp.edu.pe/CursoWS/eliminarCursoDePlanRequest" message="tns:eliminarCursoDePlan" />
      <output wsam:Action="services.softprog.pucp.edu.pe/CursoWS/eliminarCursoDePlanResponse" message="tns:eliminarCursoDePlanResponse" />
    </operation>
    <operation name="listarPorIdNombreCursos">
      <input wsam:Action="services.softprog.pucp.edu.pe/CursoWS/listarPorIdNombreCursosRequest" message="tns:listarPorIdNombreCursos" />
      <output wsam:Action="services.softprog.pucp.edu.pe/CursoWS/listarPorIdNombreCursosResponse" message="tns:listarPorIdNombreCursosResponse" />
    </operation>
    <operation name="insertarCursoEnPlan">
      <input wsam:Action="services.softprog.pucp.edu.pe/CursoWS/insertarCursoEnPlanRequest" message="tns:insertarCursoEnPlan" />
      <output wsam:Action="services.softprog.pucp.edu.pe/CursoWS/insertarCursoEnPlanResponse" message="tns:insertarCursoEnPlanResponse" />
    </operation>
    <operation name="listarCursosPorIdIE">
      <input wsam:Action="services.softprog.pucp.edu.pe/CursoWS/listarCursosPorIdIERequest" message="tns:listarCursosPorIdIE" />
      <output wsam:Action="services.softprog.pucp.edu.pe/CursoWS/listarCursosPorIdIEResponse" message="tns:listarCursosPorIdIEResponse" />
    </operation>
    <operation name="insertarCurso">
      <input wsam:Action="services.softprog.pucp.edu.pe/CursoWS/insertarCursoRequest" message="tns:insertarCurso" />
      <output wsam:Action="services.softprog.pucp.edu.pe/CursoWS/insertarCursoResponse" message="tns:insertarCursoResponse" />
    </operation>
    <operation name="listarPorIdPlan">
      <input wsam:Action="services.softprog.pucp.edu.pe/CursoWS/listarPorIdPlanRequest" message="tns:listarPorIdPlan" />
      <output wsam:Action="services.softprog.pucp.edu.pe/CursoWS/listarPorIdPlanResponse" message="tns:listarPorIdPlanResponse" />
    </operation>
  </portType>
  <binding name="CursoWSPortBinding" type="tns:CursoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarCursoDePlan">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorIdNombreCursos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCursoEnPlan">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCursosPorIdIE">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorIdPlan">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CursoWS">
    <port name="CursoWSPort" binding="tns:CursoWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWSBL/CursoWS" />
    </port>
  </service>
</definitions>