Frontend/AmorYPazBackend/Connected Services/ServicioWS/EstudianteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="services.softprog.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EstudianteWS" targetNamespace="services.softprog.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWSBL/EstudianteWS?xsd=1" namespace="services.softprog.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="insertarEstudiante">
    <part name="parameters" element="tns:insertarEstudiante" />
  </message>
  <message name="insertarEstudianteResponse">
    <part name="parameters" element="tns:insertarEstudianteResponse" />
  </message>
  <message name="eliminarEstudiante">
    <part name="parameters" element="tns:eliminarEstudiante" />
  </message>
  <message name="eliminarEstudianteResponse">
    <part name="parameters" element="tns:eliminarEstudianteResponse" />
  </message>
  <message name="modificarEstudiante">
    <part name="parameters" element="tns:modificarEstudiante" />
  </message>
  <message name="modificarEstudianteResponse">
    <part name="parameters" element="tns:modificarEstudianteResponse" />
  </message>
  <message name="listarEstudiantesPorIE">
    <part name="parameters" element="tns:listarEstudiantesPorIE" />
  </message>
  <message name="listarEstudiantesPorIEResponse">
    <part name="parameters" element="tns:listarEstudiantesPorIEResponse" />
  </message>
  <message name="listarEstudiantesPorGrado">
    <part name="parameters" element="tns:listarEstudiantesPorGrado" />
  </message>
  <message name="listarEstudiantesPorGradoResponse">
    <part name="parameters" element="tns:listarEstudiantesPorGradoResponse" />
  </message>
  <portType name="EstudianteWS">
    <operation name="insertarEstudiante">
      <input wsam:Action="services.softprog.pucp.edu.pe/EstudianteWS/insertarEstudianteRequest" message="tns:insertarEstudiante" />
      <output wsam:Action="services.softprog.pucp.edu.pe/EstudianteWS/insertarEstudianteResponse" message="tns:insertarEstudianteResponse" />
    </operation>
    <operation name="eliminarEstudiante">
      <input wsam:Action="services.softprog.pucp.edu.pe/EstudianteWS/eliminarEstudianteRequest" message="tns:eliminarEstudiante" />
      <output wsam:Action="services.softprog.pucp.edu.pe/EstudianteWS/eliminarEstudianteResponse" message="tns:eliminarEstudianteResponse" />
    </operation>
    <operation name="modificarEstudiante">
      <input wsam:Action="services.softprog.pucp.edu.pe/EstudianteWS/modificarEstudianteRequest" message="tns:modificarEstudiante" />
      <output wsam:Action="services.softprog.pucp.edu.pe/EstudianteWS/modificarEstudianteResponse" message="tns:modificarEstudianteResponse" />
    </operation>
    <operation name="listarEstudiantesPorIE">
      <input wsam:Action="services.softprog.pucp.edu.pe/EstudianteWS/listarEstudiantesPorIERequest" message="tns:listarEstudiantesPorIE" />
      <output wsam:Action="services.softprog.pucp.edu.pe/EstudianteWS/listarEstudiantesPorIEResponse" message="tns:listarEstudiantesPorIEResponse" />
    </operation>
    <operation name="listarEstudiantesPorGrado">
      <input wsam:Action="services.softprog.pucp.edu.pe/EstudianteWS/listarEstudiantesPorGradoRequest" message="tns:listarEstudiantesPorGrado" />
      <output wsam:Action="services.softprog.pucp.edu.pe/EstudianteWS/listarEstudiantesPorGradoResponse" message="tns:listarEstudiantesPorGradoResponse" />
    </operation>
  </portType>
  <binding name="EstudianteWSPortBinding" type="tns:EstudianteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarEstudiante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarEstudiante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarEstudiante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEstudiantesPorIE">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEstudiantesPorGrado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EstudianteWS">
    <port name="EstudianteWSPort" binding="tns:EstudianteWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWSBL/EstudianteWS" />
    </port>
  </service>
</definitions>