Frontend/AmorYPazBackend/Connected Services/ServicioWS/GradoReporteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.infraest.softprog.pucp.edu.pe/" targetNamespace="http://services.infraest.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="devolverReporteTodosGrados" type="tns:devolverReporteTodosGrados" />
  <xs:element name="devolverReporteTodosGradosResponse" type="tns:devolverReporteTodosGradosResponse" />
  <xs:complexType name="devolverReporteTodosGrados">
    <xs:sequence>
      <xs:element name="idInstitucion" type="xs:int" />
      <xs:element minOccurs="0" name="nombreIE" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="devolverReporteTodosGradosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>