Frontend/AmorYPazBackend/Connected Services/ServicioWS/GradoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="services.softprog.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="GradoWS" targetNamespace="services.softprog.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWSBL/GradoWS?xsd=1" namespace="services.softprog.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="asignarPlan">
    <part name="parameters" element="tns:asignarPlan" />
  </message>
  <message name="asignarPlanResponse">
    <part name="parameters" element="tns:asignarPlanResponse" />
  </message>
  <message name="obtenerPorIdGrado">
    <part name="parameters" element="tns:obtenerPorIdGrado" />
  </message>
  <message name="obtenerPorIdGradoResponse">
    <part name="parameters" element="tns:obtenerPorIdGradoResponse" />
  </message>
  <message name="listarPorIdIE">
    <part name="parameters" element="tns:listarPorIdIE" />
  </message>
  <message name="listarPorIdIEResponse">
    <part name="parameters" element="tns:listarPorIdIEResponse" />
  </message>
  <message name="obtenerPorIdPlanEstudios">
    <part name="parameters" element="tns:obtenerPorIdPlanEstudios" />
  </message>
  <message name="obtenerPorIdPlanEstudiosResponse">
    <part name="parameters" element="tns:obtenerPorIdPlanEstudiosResponse" />
  </message>
  <portType name="GradoWS">
    <operation name="asignarPlan">
      <input wsam:Action="services.softprog.pucp.edu.pe/GradoWS/asignarPlanRequest" message="tns:asignarPlan" />
      <output wsam:Action="services.softprog.pucp.edu.pe/GradoWS/asignarPlanResponse" message="tns:asignarPlanResponse" />
    </operation>
    <operation name="obtenerPorIdGrado">
      <input wsam:Action="services.softprog.pucp.edu.pe/GradoWS/obtenerPorIdGradoRequest" message="tns:obtenerPorIdGrado" />
      <output wsam:Action="services.softprog.pucp.edu.pe/GradoWS/obtenerPorIdGradoResponse" message="tns:obtenerPorIdGradoResponse" />
    </operation>
    <operation name="listarPorIdIE">
      <input wsam:Action="services.softprog.pucp.edu.pe/GradoWS/listarPorIdIERequest" message="tns:listarPorIdIE" />
      <output wsam:Action="services.softprog.pucp.edu.pe/GradoWS/listarPorIdIEResponse" message="tns:listarPorIdIEResponse" />
    </operation>
    <operation name="obtenerPorIdPlanEstudios">
      <input wsam:Action="services.softprog.pucp.edu.pe/GradoWS/obtenerPorIdPlanEstudiosRequest" message="tns:obtenerPorIdPlanEstudios" />
      <output wsam:Action="services.softprog.pucp.edu.pe/GradoWS/obtenerPorIdPlanEstudiosResponse" message="tns:obtenerPorIdPlanEstudiosResponse" />
    </operation>
  </portType>
  <binding name="GradoWSPortBinding" type="tns:GradoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="asignarPlan">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdGrado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorIdIE">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdPlanEstudios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GradoWS">
    <port name="GradoWSPort" binding="tns:GradoWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWSBL/GradoWS" />
    </port>
  </service>
</definitions>