Frontend/AmorYPazBackend/Connected Services/ServicioWS/MatriculaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="services.softprog.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MatriculaWS" targetNamespace="services.softprog.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWSBL/MatriculaWS?xsd=1" namespace="services.softprog.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="listarMatriculasPorIdIE">
    <part name="parameters" element="tns:listarMatriculasPorIdIE" />
  </message>
  <message name="listarMatriculasPorIdIEResponse">
    <part name="parameters" element="tns:listarMatriculasPorIdIEResponse" />
  </message>
  <message name="modificarMatricula">
    <part name="parameters" element="tns:modificarMatricula" />
  </message>
  <message name="modificarMatriculaResponse">
    <part name="parameters" element="tns:modificarMatriculaResponse" />
  </message>
  <message name="eliminarMatricula">
    <part name="parameters" element="tns:eliminarMatricula" />
  </message>
  <message name="eliminarMatriculaResponse">
    <part name="parameters" element="tns:eliminarMatriculaResponse" />
  </message>
  <message name="listarMatriculas">
    <part name="parameters" element="tns:listarMatriculas" />
  </message>
  <message name="listarMatriculasResponse">
    <part name="parameters" element="tns:listarMatriculasResponse" />
  </message>
  <message name="insertarMatricula">
    <part name="parameters" element="tns:insertarMatricula" />
  </message>
  <message name="insertarMatriculaResponse">
    <part name="parameters" element="tns:insertarMatriculaResponse" />
  </message>
  <portType name="MatriculaWS">
    <operation name="listarMatriculasPorIdIE">
      <input wsam:Action="services.softprog.pucp.edu.pe/MatriculaWS/listarMatriculasPorIdIERequest" message="tns:listarMatriculasPorIdIE" />
      <output wsam:Action="services.softprog.pucp.edu.pe/MatriculaWS/listarMatriculasPorIdIEResponse" message="tns:listarMatriculasPorIdIEResponse" />
    </operation>
    <operation name="modificarMatricula">
      <input wsam:Action="services.softprog.pucp.edu.pe/MatriculaWS/modificarMatriculaRequest" message="tns:modificarMatricula" />
      <output wsam:Action="services.softprog.pucp.edu.pe/MatriculaWS/modificarMatriculaResponse" message="tns:modificarMatriculaResponse" />
    </operation>
    <operation name="eliminarMatricula">
      <input wsam:Action="services.softprog.pucp.edu.pe/MatriculaWS/eliminarMatriculaRequest" message="tns:eliminarMatricula" />
      <output wsam:Action="services.softprog.pucp.edu.pe/MatriculaWS/eliminarMatriculaResponse" message="tns:eliminarMatriculaResponse" />
    </operation>
    <operation name="listarMatriculas">
      <input wsam:Action="services.softprog.pucp.edu.pe/MatriculaWS/listarMatriculasRequest" message="tns:listarMatriculas" />
      <output wsam:Action="services.softprog.pucp.edu.pe/MatriculaWS/listarMatriculasResponse" message="tns:listarMatriculasResponse" />
    </operation>
    <operation name="insertarMatricula">
      <input wsam:Action="services.softprog.pucp.edu.pe/MatriculaWS/insertarMatriculaRequest" message="tns:insertarMatricula" />
      <output wsam:Action="services.softprog.pucp.edu.pe/MatriculaWS/insertarMatriculaResponse" message="tns:insertarMatriculaResponse" />
    </operation>
  </portType>
  <binding name="MatriculaWSPortBinding" type="tns:MatriculaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarMatriculasPorIdIE">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarMatricula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarMatricula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarMatriculas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarMatricula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MatriculaWS">
    <port name="MatriculaWSPort" binding="tns:MatriculaWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWSBL/MatriculaWS" />
    </port>
  </service>
</definitions>