Frontend/AmorYPazBackend/Connected Services/ServicioWS/PlanDeEstudioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="services.softprog.pucp.edu.pe" targetNamespace="services.softprog.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarPlanDeEstudio" type="tns:eliminarPlanDeEstudio" />
  <xs:element name="eliminarPlanDeEstudioResponse" type="tns:eliminarPlanDeEstudioResponse" />
  <xs:element name="insertarPlanDeEstudio" type="tns:insertarPlanDeEstudio" />
  <xs:element name="insertarPlanDeEstudioResponse" type="tns:insertarPlanDeEstudioResponse" />
  <xs:element name="listarPlanesDeEstudio" type="tns:listarPlanesDeEstudio" />
  <xs:element name="listarPlanesDeEstudioPorIdIE" type="tns:listarPlanesDeEstudioPorIdIE" />
  <xs:element name="listarPlanesDeEstudioPorIdIEResponse" type="tns:listarPlanesDeEstudioPorIdIEResponse" />
  <xs:element name="listarPlanesDeEstudioResponse" type="tns:listarPlanesDeEstudioResponse" />
  <xs:element name="modificarPlanDeEstudio" type="tns:modificarPlanDeEstudio" />
  <xs:element name="modificarPlanDeEstudioResponse" type="tns:modificarPlanDeEstudioResponse" />
  <xs:complexType name="listarPlanesDeEstudio">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPlanesDeEstudioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:planDeEstudio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="planDeEstudio">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="anioAcademico" type="tns:anioAcademico" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cursos" nillable="true" type="tns:curso" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idPlan" type="xs:int" />
      <xs:element name="numCursos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="anioAcademico">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="idAnio" type="xs:int" />
      <xs:element name="idIE" type="xs:int" />
      <xs:element name="numero" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="planes" nillable="true" type="tns:planDeEstudio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idCurso" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPlanDeEstudio">
    <xs:sequence>
      <xs:element minOccurs="0" name="planDeEstudio" type="tns:planDeEstudio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPlanDeEstudioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPlanesDeEstudioPorIdIE">
    <xs:sequence>
      <xs:element name="idGrado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPlanesDeEstudioPorIdIEResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:planDeEstudio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPlanDeEstudio">
    <xs:sequence>
      <xs:element minOccurs="0" name="planDeEstudio" type="tns:planDeEstudio" />
      <xs:element name="idGrado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPlanDeEstudioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPlanDeEstudio">
    <xs:sequence>
      <xs:element name="idPlanDeEstudio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPlanDeEstudioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>