Frontend/AmorYPazBackend/Connected Services/ServicioWS/PlanDeEstudioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="services.softprog.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PlanDeEstudioWS" targetNamespace="services.softprog.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWSBL/PlanDeEstudioWS?xsd=1" namespace="services.softprog.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="listarPlanesDeEstudioPorIdIE">
    <part name="parameters" element="tns:listarPlanesDeEstudioPorIdIE" />
  </message>
  <message name="listarPlanesDeEstudioPorIdIEResponse">
    <part name="parameters" element="tns:listarPlanesDeEstudioPorIdIEResponse" />
  </message>
  <message name="modificarPlanDeEstudio">
    <part name="parameters" element="tns:modificarPlanDeEstudio" />
  </message>
  <message name="modificarPlanDeEstudioResponse">
    <part name="parameters" element="tns:modificarPlanDeEstudioResponse" />
  </message>
  <message name="eliminarPlanDeEstudio">
    <part name="parameters" element="tns:eliminarPlanDeEstudio" />
  </message>
  <message name="eliminarPlanDeEstudioResponse">
    <part name="parameters" element="tns:eliminarPlanDeEstudioResponse" />
  </message>
  <message name="insertarPlanDeEstudio">
    <part name="parameters" element="tns:insertarPlanDeEstudio" />
  </message>
  <message name="insertarPlanDeEstudioResponse">
    <part name="parameters" element="tns:insertarPlanDeEstudioResponse" />
  </message>
  <message name="listarPlanesDeEstudio">
    <part name="parameters" element="tns:listarPlanesDeEstudio" />
  </message>
  <message name="listarPlanesDeEstudioResponse">
    <part name="parameters" element="tns:listarPlanesDeEstudioResponse" />
  </message>
  <portType name="PlanDeEstudioWS">
    <operation name="listarPlanesDeEstudioPorIdIE">
      <input wsam:Action="services.softprog.pucp.edu.pe/PlanDeEstudioWS/listarPlanesDeEstudioPorIdIERequest" message="tns:listarPlanesDeEstudioPorIdIE" />
      <output wsam:Action="services.softprog.pucp.edu.pe/PlanDeEstudioWS/listarPlanesDeEstudioPorIdIEResponse" message="tns:listarPlanesDeEstudioPorIdIEResponse" />
    </operation>
    <operation name="modificarPlanDeEstudio">
      <input wsam:Action="services.softprog.pucp.edu.pe/PlanDeEstudioWS/modificarPlanDeEstudioRequest" message="tns:modificarPlanDeEstudio" />
      <output wsam:Action="services.softprog.pucp.edu.pe/PlanDeEstudioWS/modificarPlanDeEstudioResponse" message="tns:modificarPlanDeEstudioResponse" />
    </operation>
    <operation name="eliminarPlanDeEstudio">
      <input wsam:Action="services.softprog.pucp.edu.pe/PlanDeEstudioWS/eliminarPlanDeEstudioRequest" message="tns:eliminarPlanDeEstudio" />
      <output wsam:Action="services.softprog.pucp.edu.pe/PlanDeEstudioWS/eliminarPlanDeEstudioResponse" message="tns:eliminarPlanDeEstudioResponse" />
    </operation>
    <operation name="insertarPlanDeEstudio">
      <input wsam:Action="services.softprog.pucp.edu.pe/PlanDeEstudioWS/insertarPlanDeEstudioRequest" message="tns:insertarPlanDeEstudio" />
      <output wsam:Action="services.softprog.pucp.edu.pe/PlanDeEstudioWS/insertarPlanDeEstudioResponse" message="tns:insertarPlanDeEstudioResponse" />
    </operation>
    <operation name="listarPlanesDeEstudio">
      <input wsam:Action="services.softprog.pucp.edu.pe/PlanDeEstudioWS/listarPlanesDeEstudioRequest" message="tns:listarPlanesDeEstudio" />
      <output wsam:Action="services.softprog.pucp.edu.pe/PlanDeEstudioWS/listarPlanesDeEstudioResponse" message="tns:listarPlanesDeEstudioResponse" />
    </operation>
  </portType>
  <binding name="PlanDeEstudioWSPortBinding" type="tns:PlanDeEstudioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarPlanesDeEstudioPorIdIE">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPlanDeEstudio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPlanDeEstudio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPlanDeEstudio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPlanesDeEstudio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PlanDeEstudioWS">
    <port name="PlanDeEstudioWSPort" binding="tns:PlanDeEstudioWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWSBL/PlanDeEstudioWS" />
    </port>
  </service>
</definitions>