Frontend/AmorYPazBackend/Connected Services/ServicioWS/UsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="services.softprog.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UsuarioWS" targetNamespace="services.softprog.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWSBL/UsuarioWS?xsd=1" namespace="services.softprog.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="obtenerTipoUsuario">
    <part name="parameters" element="tns:obtenerTipoUsuario" />
  </message>
  <message name="obtenerTipoUsuarioResponse">
    <part name="parameters" element="tns:obtenerTipoUsuarioResponse" />
  </message>
  <message name="obtenerUgelDeUsuario">
    <part name="parameters" element="tns:obtenerUgelDeUsuario" />
  </message>
  <message name="obtenerUgelDeUsuarioResponse">
    <part name="parameters" element="tns:obtenerUgelDeUsuarioResponse" />
  </message>
  <message name="obtenerIEDeUsuario">
    <part name="parameters" element="tns:obtenerIEDeUsuario" />
  </message>
  <message name="obtenerIEDeUsuarioResponse">
    <part name="parameters" element="tns:obtenerIEDeUsuarioResponse" />
  </message>
  <message name="verificarUsuario">
    <part name="parameters" element="tns:verificarUsuario" />
  </message>
  <message name="verificarUsuarioResponse">
    <part name="parameters" element="tns:verificarUsuarioResponse" />
  </message>
  <portType name="UsuarioWS">
    <operation name="obtenerTipoUsuario">
      <input wsam:Action="services.softprog.pucp.edu.pe/UsuarioWS/obtenerTipoUsuarioRequest" message="tns:obtenerTipoUsuario" />
      <output wsam:Action="services.softprog.pucp.edu.pe/UsuarioWS/obtenerTipoUsuarioResponse" message="tns:obtenerTipoUsuarioResponse" />
    </operation>
    <operation name="obtenerUgelDeUsuario">
      <input wsam:Action="services.softprog.pucp.edu.pe/UsuarioWS/obtenerUgelDeUsuarioRequest" message="tns:obtenerUgelDeUsuario" />
      <output wsam:Action="services.softprog.pucp.edu.pe/UsuarioWS/obtenerUgelDeUsuarioResponse" message="tns:obtenerUgelDeUsuarioResponse" />
    </operation>
    <operation name="obtenerIEDeUsuario">
      <input wsam:Action="services.softprog.pucp.edu.pe/UsuarioWS/obtenerIEDeUsuarioRequest" message="tns:obtenerIEDeUsuario" />
      <output wsam:Action="services.softprog.pucp.edu.pe/UsuarioWS/obtenerIEDeUsuarioResponse" message="tns:obtenerIEDeUsuarioResponse" />
    </operation>
    <operation name="verificarUsuario">
      <input wsam:Action="services.softprog.pucp.edu.pe/UsuarioWS/verificarUsuarioRequest" message="tns:verificarUsuario" />
      <output wsam:Action="services.softprog.pucp.edu.pe/UsuarioWS/verificarUsuarioResponse" message="tns:verificarUsuarioResponse" />
    </operation>
  </portType>
  <binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerTipoUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerUgelDeUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerIEDeUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verificarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UsuarioWS">
    <port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWSBL/UsuarioWS" />
    </port>
  </service>
</definitions>