AmorYPazBackend/AmorYPazBackend/Connected Services/ServicioWS/DirectorWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="services.softprog.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DirectorWS" targetNamespace="services.softprog.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWSBL/DirectorWS?xsd=1" namespace="services.softprog.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="buscarDirector">
    <part name="parameters" element="tns:buscarDirector" />
  </message>
  <message name="buscarDirectorResponse">
    <part name="parameters" element="tns:buscarDirectorResponse" />
  </message>
  <message name="modificarDirector">
    <part name="parameters" element="tns:modificarDirector" />
  </message>
  <message name="modificarDirectorResponse">
    <part name="parameters" element="tns:modificarDirectorResponse" />
  </message>
  <message name="insertarDirector">
    <part name="parameters" element="tns:insertarDirector" />
  </message>
  <message name="insertarDirectorResponse">
    <part name="parameters" element="tns:insertarDirectorResponse" />
  </message>
  <message name="eliminarDirector">
    <part name="parameters" element="tns:eliminarDirector" />
  </message>
  <message name="eliminarDirectorResponse">
    <part name="parameters" element="tns:eliminarDirectorResponse" />
  </message>
  <message name="buscarDirector">
    <part name="parameters" element="tns:buscarDirector" />
  </message>
  <message name="buscarDirectorResponse">
    <part name="parameters" element="tns:buscarDirectorResponse" />
  </message>
  <message name="listarDirectoresTodas">
    <part name="parameters" element="tns:listarDirectoresTodas" />
  </message>
  <message name="listarDirectoresTodasResponse">
    <part name="parameters" element="tns:listarDirectoresTodasResponse" />
  </message>
  <message name="listarDirectoresDisponibles">
    <part name="parameters" element="tns:listarDirectoresDisponibles" />
  </message>
  <message name="listarDirectoresDisponiblesResponse">
    <part name="parameters" element="tns:listarDirectoresDisponiblesResponse" />
  </message>
  <message name="listarDirectoresTodas">
    <part name="parameters" element="tns:listarDirectoresTodas" />
  </message>
  <message name="listarDirectoresTodasResponse">
    <part name="parameters" element="tns:listarDirectoresTodasResponse" />
  </message>
  <portType name="DirectorWS">
    <operation name="buscarDirector">
      <input wsam:Action="services.softprog.pucp.edu.pe/DirectorWS/buscarDirectorRequest" message="tns:buscarDirector" />
      <output wsam:Action="services.softprog.pucp.edu.pe/DirectorWS/buscarDirectorResponse" message="tns:buscarDirectorResponse" />
    </operation>
    <operation name="modificarDirector">
      <input wsam:Action="services.softprog.pucp.edu.pe/DirectorWS/modificarDirectorRequest" message="tns:modificarDirector" />
      <output wsam:Action="services.softprog.pucp.edu.pe/DirectorWS/modificarDirectorResponse" message="tns:modificarDirectorResponse" />
    </operation>
    <operation name="insertarDirector">
      <input wsam:Action="services.softprog.pucp.edu.pe/DirectorWS/insertarDirectorRequest" message="tns:insertarDirector" />
      <output wsam:Action="services.softprog.pucp.edu.pe/DirectorWS/insertarDirectorResponse" message="tns:insertarDirectorResponse" />
    </operation>
    <operation name="eliminarDirector">
      <input wsam:Action="services.softprog.pucp.edu.pe/DirectorWS/eliminarDirectorRequest" message="tns:eliminarDirector" />
      <output wsam:Action="services.softprog.pucp.edu.pe/DirectorWS/eliminarDirectorResponse" message="tns:eliminarDirectorResponse" />
    </operation>
    <operation name="buscarDirector">
      <input wsam:Action="services.softprog.pucp.edu.pe/DirectorWS/buscarDirectorRequest" message="tns:buscarDirector" />
      <output wsam:Action="services.softprog.pucp.edu.pe/DirectorWS/buscarDirectorResponse" message="tns:buscarDirectorResponse" />
    </operation>
    <operation name="listarDirectoresTodas">
      <input wsam:Action="services.softprog.pucp.edu.pe/DirectorWS/listarDirectoresTodasRequest" message="tns:listarDirectoresTodas" />
      <output wsam:Action="services.softprog.pucp.edu.pe/DirectorWS/listarDirectoresTodasResponse" message="tns:listarDirectoresTodasResponse" />
    </operation>
    <operation name="listarDirectoresDisponibles">
      <input wsam:Action="services.softprog.pucp.edu.pe/DirectorWS/listarDirectoresDisponiblesRequest" message="tns:listarDirectoresDisponibles" />
      <output wsam:Action="services.softprog.pucp.edu.pe/DirectorWS/listarDirectoresDisponiblesResponse" message="tns:listarDirectoresDisponiblesResponse" />
    </operation>
    <operation name="listarDirectoresTodas">
      <input wsam:Action="services.softprog.pucp.edu.pe/DirectorWS/listarDirectoresTodasRequest" message="tns:listarDirectoresTodas" />
      <output wsam:Action="services.softprog.pucp.edu.pe/DirectorWS/listarDirectoresTodasResponse" message="tns:listarDirectoresTodasResponse" />
    </operation>
  </portType>
  <binding name="DirectorWSPortBinding" type="tns:DirectorWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="buscarDirector">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarDirector">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarDirector">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarDirector">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarDirectoresDisponibles">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarDirectoresTodas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DirectorWS">
    <port name="DirectorWSPort" binding="tns:DirectorWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWSBL/DirectorWS" />
    </port>
  </service>
</definitions>