AmorYPazBackend/AmorYPazBackend/Connected Services/ServicioWS/InstitucionEducativaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="services.softprog.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="InstitucionEducativaWS" targetNamespace="services.softprog.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWSBL/InstitucionEducativaWS?xsd=1" namespace="services.softprog.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="obtenerPorId">
    <part name="parameters" element="tns:obtenerPorId" />
  </message>
  <message name="obtenerPorIdResponse">
    <part name="parameters" element="tns:obtenerPorIdResponse" />
  </message>
  <message name="listarPorNombreYUgel">
    <part name="parameters" element="tns:listarPorNombreYUgel" />
  </message>
  <message name="listarPorNombreYUgelResponse">
    <part name="parameters" element="tns:listarPorNombreYUgelResponse" />
  </message>
  <message name="obtenerIEPorIdDirector">
    <part name="parameters" element="tns:obtenerIEPorIdDirector" />
  </message>
  <message name="obtenerIEPorIdDirectorResponse">
    <part name="parameters" element="tns:obtenerIEPorIdDirectorResponse" />
  </message>
  <message name="modificarInstitucion">
    <part name="parameters" element="tns:modificarInstitucion" />
  </message>
  <message name="modificarInstitucionResponse">
    <part name="parameters" element="tns:modificarInstitucionResponse" />
  </message>
  <message name="listarPorIdNombre">
    <part name="parameters" element="tns:listarPorIdNombre" />
  </message>
  <message name="listarPorIdNombreResponse">
    <part name="parameters" element="tns:listarPorIdNombreResponse" />
  </message>
  <message name="insertarInstitucion">
    <part name="parameters" element="tns:insertarInstitucion" />
  </message>
  <message name="insertarInstitucionResponse">
    <part name="parameters" element="tns:insertarInstitucionResponse" />
  </message>
  <portType name="InstitucionEducativaWS">
    <operation name="obtenerPorId">
      <input wsam:Action="services.softprog.pucp.edu.pe/InstitucionEducativaWS/obtenerPorIdRequest" message="tns:obtenerPorId" />
      <output wsam:Action="services.softprog.pucp.edu.pe/InstitucionEducativaWS/obtenerPorIdResponse" message="tns:obtenerPorIdResponse" />
    </operation>
    <operation name="listarPorNombreYUgel">
      <input wsam:Action="services.softprog.pucp.edu.pe/InstitucionEducativaWS/listarPorNombreYUgelRequest" message="tns:listarPorNombreYUgel" />
      <output wsam:Action="services.softprog.pucp.edu.pe/InstitucionEducativaWS/listarPorNombreYUgelResponse" message="tns:listarPorNombreYUgelResponse" />
    </operation>
    <operation name="obtenerIEPorIdDirector">
      <input wsam:Action="services.softprog.pucp.edu.pe/InstitucionEducativaWS/obtenerIEPorIdDirectorRequest" message="tns:obtenerIEPorIdDirector" />
      <output wsam:Action="services.softprog.pucp.edu.pe/InstitucionEducativaWS/obtenerIEPorIdDirectorResponse" message="tns:obtenerIEPorIdDirectorResponse" />
    </operation>
    <operation name="modificarInstitucion">
      <input wsam:Action="services.softprog.pucp.edu.pe/InstitucionEducativaWS/modificarInstitucionRequest" message="tns:modificarInstitucion" />
      <output wsam:Action="services.softprog.pucp.edu.pe/InstitucionEducativaWS/modificarInstitucionResponse" message="tns:modificarInstitucionResponse" />
    </operation>
    <operation name="listarPorIdNombre">
      <input wsam:Action="services.softprog.pucp.edu.pe/InstitucionEducativaWS/listarPorIdNombreRequest" message="tns:listarPorIdNombre" />
      <output wsam:Action="services.softprog.pucp.edu.pe/InstitucionEducativaWS/listarPorIdNombreResponse" message="tns:listarPorIdNombreResponse" />
    </operation>
    <operation name="insertarInstitucion">
      <input wsam:Action="services.softprog.pucp.edu.pe/InstitucionEducativaWS/insertarInstitucionRequest" message="tns:insertarInstitucion" />
      <output wsam:Action="services.softprog.pucp.edu.pe/InstitucionEducativaWS/insertarInstitucionResponse" message="tns:insertarInstitucionResponse" />
    </operation>
  </portType>
  <binding name="InstitucionEducativaWSPortBinding" type="tns:InstitucionEducativaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorNombreYUgel">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerIEPorIdDirector">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarInstitucion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorIdNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarInstitucion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="InstitucionEducativaWS">
    <port name="InstitucionEducativaWSPort" binding="tns:InstitucionEducativaWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWSBL/InstitucionEducativaWS" />
    </port>
  </service>
</definitions>